
@font-face {
    font-family:"fire";
    src: url("/assets/FiraSans-Regular.ttf");
  }
  
  *,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "fire" !important;
  }
  
body {
    background: url(/templates/images/wallpaper3.jpg) center/cover; 
}


.formulario {
    height: 100%;
    max-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 1%;
    z-index: 2;
   background-color: rgba(9, 234, 234, 0.5);
    position: relative;
    border-radius: 5%;
    padding: 1.5rem;
  
    
}

.form-control-lg {
max-width: 50%;
margin: 2%;
background-color: rgba(255, 255, 255, 0.5);
position: relative;

}

.mb-3 {
    margin: 1.5rem;
}
.form-control {
    background-color: white;

    
}
span {
    color:red;
}

label {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

img {
    position: absolute;
    top: 15%;
    left: 40.5%;
    width: 50%;
    height: 87%;
}


.floating {  
    animation-name: floating;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction:alternate;
}

.floating img{
   margin-left: 48%;
   width: 300px;
   height: 502px;
}

@keyframes floating {
    from { transform: translateY(0px); }
    to   { transform: translateY(70px); }    
}



  .inicio {
    position: absolute;
    width: 15rem;
    height: 7rem;
    background-color: rgba(9, 234, 234, 0.5);
    font-display: flex;
    flex-direction: column;
    align-items: center;
    left: 69%;
    bottom: 47%;
    z-index: 2;
    clip-path: polygon(100% 0, 0 0, 52% 99%);
    border-radius: 15px;
    
  }
  #btnI {
    position: relative;
    left: 35%;
    background-color: red;

  }
   .btn-danger {
    background-color: red;
  }

ul {
    color:red;
    font-weight: 600;
    font-size: 1.2rem;
    
}

