@font-face {
    font-family: "fire";
    src: url("/assets/FiraSans-Regular.ttf");
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    font-family: "fire" !important;
}


:root {

    --h1-font-size: 2rem;
    --span-font-size: 3rem;
    --input-size: 20.75rem;
    --h1-color: white;
    --span-color: white;
    --margin-top: 30%;
    --clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);


}

@media screen and (max-width: 680px) {
    :root {

        --h1-font-size: 1.5rem;
        --span-font-size: 1.5rem;
        --h1-color: white;
        --span-color: white;
        --margin-top: 90%;

    }
}

@media screen and (max-width: 520px) {
    :root {

        --h1-font-size: 1rem;
        --span-font-size: 1rem;
        --h1-color: white;
        --span-color: white;
        --margin-top: 30%;

    }
}

@media screen and (max-width: 540px) {
    :root {

        --h1-font-size: 1rem;
        --span-font-size: 1rem;
        --h1-color: white;
        --span-color: white;
        --margin-top: 40%;

    }
}

@media screen and (max-width: 720px) {
    :root {

        --h1-font-size: 1.5rem;
        --span-font-size: 1.5rem;
        --h1-color: white;
        --span-color: white;
        --margin-top: 85%;

    }
}

@media screen and (max-width: 1160px) {
    :root {


        --margin-top: 40%;

    }
}


.titulo {
    color: var(--h1-color);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: var(--h1-font-size);
    width: 100%;

}

.hero-container {
    background: url("/templates/images/avengers1.jpg") center/cover;
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);


}

.hero-container::before {
    content: "";
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

.hero-body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    justify-content: center;

}

.logo2 {
    margin-top: var(--margin-top);
    height: 20%;
}

.cuerpo {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

hr {

    margin-top: -5%;
    margin-bottom: 15%;
}

.texto {
    max-width: 60%;
    font-size: 1.5rem;
   
}


.cards-container {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    background: url(/templates/images/wallpaper2.jpg) center/cover;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    background-color: #df1f2d;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cards-container::before {

    width: 100%;
    height: 100%;
    position: absolute;
}

.cards-body {

    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}



/* Estilos referentes al footer */
.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a141d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

body {
    font-family: "fire" !important;
}

footer {
    margin-bottom: -5%;
}

.redes {
    width: 20%;
    height: 15%;
    color: white;
}